/* .main_home{
    min-height: 350px;
    margin: 6rem 2rem;
    position: relative;
} */


/******************************************/
/*  carousel                              */
/******************************************/
.carousel{
    margin-top: 40px;
    z-index: 0;
}


.carousel img{
    height: 400px;
    width: 60%;
    float: right;
    margin-right: 50px;
}

.div_carousel{
    background: url('../images/carousel_bkg.jpeg');
    background-size:contain;
    padding-top: 1px;
}

.div_carousel h3{
    margin-top: 0px;
    font-size: 4rem !important;
    margin-right: 450px;
}
.div_carousel p{
    margin-top: 222px;
    font-size: 2rem !important;
}
.div_carousel h3, .div_carousel p{
    float: left;
    color: #335b3e;
    
}


/******************************************/
/*  body home page                             */
/******************************************/

.triangle{
    clear: none;
    top: 70px;
    z-index: 0;
    border-left: 625px outset transparent;
    border-right: 625px outset transparent;
    border-top: 30px solid #335b3e;
    position: relative;
}


.home_page{
    min-height: 300px;
    padding-top: 100px;
}